.scroll-box {
  position: fixed;
  inset: 8.1rem 0.7rem 9rem 0.7rem;
  background: #2d3250;
  height: 51vh;
  border-bottom: solid 0.2rem;
  border-color: #424669;
  @media (min-width: 530px) {
    inset: 9.9rem 0.7rem 7rem 0.7rem;
  }

  @media (min-width: 780px) {
    inset: 5.3rem 0.7rem 7rem 0.7rem;
  }

  @media (min-width: 1120px) {
    width: 74%;
    margin: 0 auto;
  }
}

.search-result {
  height: 50vh;
  width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
  li {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    background: #424669;
    margin: 0.5rem;
    border-radius: 0.5rem;
    figure {
      height: 7rem;
      width: 7rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    h2 {
      width: 20rem;
    }
  }
}
