.scroll-box {
  position: fixed;
  inset: 7.6rem 0.7rem 9rem 0.7rem;
  background: #2d3250;
  @media (min-width: 530px) {
    inset: 9.9rem 0.7rem 7rem 0.7rem;
  }

  @media (min-width: 780px) {
    inset: 5.3rem 0.7rem 7rem 0.7rem;
  }

  @media (min-width: 1120px) {
    width: 74.5%;
    margin: 0 auto;
  }
}

.search-result {
  height: 80.4vh;
  width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
  li {
    display: flex;
    align-items: center;
    height: 10%;
    background: #424669;
    margin: 0.5rem;
    border-radius: 0.5rem;
    figure {
      height: 7rem;
      width: 7rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
      }
    }
  }

  @media (min-width: 530px) {
    height: 74.5vh;
    li {
        height: 13%;
        figure {
          height: 8rem;
          width: 8rem;
        }
    }
  }

  @media (min-width: 780px) {
    height: 79.5vh;
  }
}
