.pageWrapper {
  margin: 0 auto;
  max-width: 65rem;
}

.contentWrapper {
  display: block;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 65rem;

  @media (min-width: 530px) {
    display: flex;
    gap: 1rem;
  }

  @media (min-width: 780px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.reviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.review {
  padding: 1rem 2rem;
  width: 95%;
  h2 {
    margin-bottom: 0.5rem;
  }
}
