header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    li, a, label {
        font-weight: var(--font-semibold);
    }

    img {
        margin: 0 auto;
        border: 0.1rem solid white;
        border-radius: 5rem;
        padding: 0.2rem 1rem;
        width: 5rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.logo {
    font-weight: var(--font-bold);
    font-size: 2.5rem;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
}

nav {
    display: grid;
    ul {
        display: flex;
        font-size: 1.1rem;
        li {
            flex: 1;
        }
    }

    form {
        width: 100%;
    }

    input[type="search"] {
        width: 10rem;
        display: none;
        }
}