header {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: auto 0.5rem;
    background:#2d3250;

    li, a, label {
        font-weight: var(--font-semibold);
    }
}

.logo {
    font-weight: var(--font-bold);
    font-size: 2.2rem;
    text-shadow: rgba(103, 111, 157, 0.90) 0px 3px 4px;
    text-transform: uppercase;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;

        li {
            text-align: center;
        }
        img {
            margin: 0 auto;
            border-radius: 5rem;
            padding: 0.1rem 1rem;
            width: 4rem;
            box-shadow: rgba(248,177,121, 0.35) 0px 5px 15px;
            background: #F8B179;
        }
    }
}

@media (min-width: 530px) {
    .logo {
        font-size: 3rem;
    }
    nav {
        ul {
            li {
                img {
                    width: 7.2rem;
                    margin: 0.2rem 1rem;
                    padding: 0.2rem 2.3rem;
                    }
            }
        }
    }
}